<div class="container">
  <mat-stepper linear>
    <form [formGroup]="frmEditPerson">
      <mat-step label="Membro">
        <mat-card class="mat-elevation-z6" style="margin-top: 20px">
          <mat-toolbar color="primary" style="margin-top: 15px">
            <span>Edição de Membro</span>
          </mat-toolbar>
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Placeholder" formControlName="name" />
            <mat-error
                  *ngIf="
                    frmEditPerson.get('name')?.hasError('required') &&
                    frmEditPerson.get('name')?.touched
                  "
                >
                  *Por favor informe seu nome
                </mat-error>
          </mat-form-field>


          <mat-form-field appearance="outline">
            <mat-label>Nome Igreja</mat-label>
            <input
              type="text"
              matInput
              placeholder="Placeholder"
              [value]="nomeIgreja"
            />
          </mat-form-field>
          <div class="col" style="width: 100%">
            <mat-form-field appearance="outline" style="width: 50%">
              <mat-label>Telefone Residêncial</mat-label>
              <input
                type="tel"
                matInput
                placeholder="Placeholder"
                formControlName="foneRes"
                mask="(00) 0000-0000"
              />
            </mat-form-field>
            <mat-form-field
              appearance="outline"
              style="width: 48.7%; margin-left: 15px"
            >
              <mat-label>Telefone Celular</mat-label>
              <input
                type="tel"
                matInput
                placeholder="Placeholder"
                formControlName="foneCel"
                mask="(00) 00000-0000"
              />
            </mat-form-field>
          </div>
          <div class="col" style="width: 100%">

            <mat-form-field appearance="outline" style="width: 50%">
              <mat-label>CPF</mat-label>
              <input matInput
              placeholder="Placeholder"
              formControlName="cpf"
              mask="000.000.000-00"
              (change)="cpfInputValue($event.target)"
               />
              <mat-error
              *ngIf="
                frmEditPerson.get('cpf')?.hasError('required') &&
                frmEditPerson.get('cpf')?.touched
              "
            >
              *Por favor informe seu CPF

            </mat-error>

            </mat-form-field>

            <mat-form-field
              appearance="outline"
              style="width: 48.7%; margin-left: 15px"
            >
              <mat-label>RG</mat-label>
              <input matInput placeholder="Placeholder" formControlName="rg"  mask="00.000.000-0" />
              <mat-error
              *ngIf="
                frmEditPerson.get('rg')?.hasError('required') &&
                frmEditPerson.get('rg')?.touched
              "
            >
              *Por favor informe seu RG
            </mat-error>
            </mat-form-field>
          </div>
          <div class="col" style="width: 100%;">
          <mat-form-field appearance="outline" style="width: 50%;">
            <mat-label>Estado Cívil</mat-label>
            <mat-select formControlName="maritalStatus">
              <mat-option
                *ngFor="let maritalstatus of statusMaritals"
                [value]="maritalstatus.value"
              >
                {{ maritalstatus.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 48.7%; margin-left: 15px">
            <mat-label>Genêro</mat-label>
            <mat-select formControlName="gender">
              <mat-option *ngFor="let gender of statusGender" [value]="gender.value">
                {{ gender.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="type">
              <mat-option *ngFor="let type of types" [value]="type.value">
                {{ type.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error
            *ngIf="
              frmEditPerson.get('type')?.hasError('required') &&
              frmEditPerson.get('type')?.touched
            "
          >
            *Por favor informe sua atual posição ministerial
          </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Cargo</mat-label>
            <mat-select formControlName="office">
              <mat-option *ngFor="let office of offices" [value]="office.value">
                {{ office.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error
            *ngIf="
              frmEditPerson.get('office')?.hasError('required') &&
              frmEditPerson.get('office')?.touched
            "
          >
            *Por favor informe seu atual cargo ministerial
          </mat-error>
          </mat-form-field>
          <div class="col" style="width: 100%">
            <mat-form-field appearance="outline" style="width: 50%">
              <mat-label>Data de Nascimento</mat-label>
              <input type="date" matInput formControlName="dateBirth" />
              <mat-error
              *ngIf="
                frmEditPerson.get('dateBirth')?.hasError('required') &&
                frmEditPerson.get('dateBirth')?.touched
              "
            >
              *Por favor informe o dia em que nasceu
            </mat-error>
            </mat-form-field>
            <mat-form-field
              appearance="outline"
              style="width: 48.7%; margin-left: 15px"
            >
              <mat-label>Data de Conversão</mat-label>
              <input type="date" matInput />
            </mat-form-field>
          </div>
          <div class="col" style="width: 100%">
            <mat-form-field appearance="outline" style="width: 50%">
              <mat-label>Data de Batismo</mat-label>
              <input type="date" matInput formControlName="dateBaptized" />
              <mat-error
              *ngIf="
                frmEditPerson.get('dateBaptized')?.hasError('required') &&
                frmEditPerson.get('dateBaptized')?.touched
              "
            >
              *Por favor informe o dia do seu batismo
            </mat-error>
            </mat-form-field>
            <mat-form-field
              appearance="outline"
              style="width: 48.7%; margin-left: 15px"
            >
              <mat-label>Data de Batismo com Espírito Santo</mat-label>
              <input type="date" matInput />
            </mat-form-field>
          </div>
        </mat-card>

        <mat-card class="mat-elevation-z6" style="margin-top: 20px">
          <mat-toolbar color="primary" style="margin-top: 15px">
            <span>Edição de congregação</span>
          </mat-toolbar>
          <mat-expansion-panel>
            <mat-expansion-panel-header> </mat-expansion-panel-header>
            <mat-form-field appearance="outline">
              <mat-label>Congregação</mat-label>
              <mat-select formControlName="church"(selectionChange)=" valueInputNameCongregation($event)">
                <mat-option
                  *ngFor="let church of listChurch"
                  [value]="church"
                >
                  {{ church.nameCongregation }}
                </mat-option>
              </mat-select>
              <mat-error
              *ngIf="
                frmEditPerson.get('church')?.hasError('required') &&
                frmEditPerson.get('church')?.touched
              "
            >
              *Por favor informe o nome de sua congregação
            </mat-error>
            </mat-form-field>
            <div class="form-group">
              <label for="observacao">Observação</label>
              <textarea
                class="form-control"
                rows="3"
                name="observacao"
                id="observacao"
              ></textarea>
            </div>
          </mat-expansion-panel>
        </mat-card>

        <button mat-raised-button color="primary" style="margin-top: 10px; float: right; " matStepperNext>Avançar</button>
      </mat-step>

      <mat-step label="CEP">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>CEP</mat-label>
            <input
              matInput
              placeholder="Digite seu CEP"
              formControlName="cep"
              (change)="cepInputValue($event.target)"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Rua</mat-label>
            <input
              matInput
              placeholder="Digite sua Rua"
              formControlName="logradouro"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Número</mat-label>
            <input
              type="number"
              matInput
              placeholder="Digite sua Número"
              class="number-road"
              formControlName="numberHome"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Complemento</mat-label>
            <input
              type="number"
              matInput
              placeholder="Complemento"
              class="number-complement"
              formControlName="complementObservation"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Bairro</mat-label>
            <input
              matInput
              placeholder="Digite seu Bairro"
              formControlName="bairro"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Localidade</mat-label>
            <input
              matInput
              placeholder="Digite sua Localidade"
              formControlName="localidade"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>UF</mat-label>
            <input
              matInput
              placeholder="Digite sua UF"
              formControlName="uf"
              required
            />
          </mat-form-field>
          <button mat-raised-button color="primary" style="margin-top: 10px; float: right; ">Avançar</button>
        </div>
      </mat-step>
    </form>
    <mat-step>
      <ng-template matStepLabel>Finalizando</ng-template>
      <p>Agora estamos finalizando!</p>
      <div>
        <button mat-raised-button matStepperPrevious>Voltar</button>
        <button mat-raised-button color="primary" (click)="saveFormsPerson()" [disabled]="frmEditPerson.invalid">Salvar</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
