<div class="container">
  <mat-stepper linear>
    <form [formGroup]="frmPerson">
      <mat-step label="Membro">
        <mat-card class="mat-elevation-z6" style="margin-top: 20px;">
        <mat-toolbar color="primary" style="margin-top: 15px;">
          <span>Cadastro de Membro</span>
      </mat-toolbar>
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Placeholder" formControlName="name" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>email</mat-label>
          <input type="email" matInput placeholder="Placeholder" formControlName="email" />
        </mat-form-field>
        <div class="col" style="width: 100%;">
          <mat-form-field appearance="outline" style="width: 50%;">
            <mat-label>Telefone Residêncial</mat-label>
            <input type="tel" matInput placeholder="Placeholder" formControlName="foneRes" />
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 48.7%; margin-left: 15px;">
            <mat-label>Telefone Celular</mat-label>
            <input type="tel" matInput placeholder="Placeholder" formControlName="foneCel" />
          </mat-form-field>
        </div>
        <div class="col" style="width: 100%;">
          <mat-form-field appearance="outline" style="width: 50%;">
            <mat-label>CPF</mat-label>
            <input matInput placeholder="Placeholder" formControlName="cpf" />
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 48.7%; margin-left: 15px;">
            <mat-label>RG</mat-label>
            <input matInput placeholder="Placeholder" formControlName="rg" />
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Estado Cívil</mat-label>
          <mat-select formControlName="maritalStatus">
            <mat-option *ngFor="let maritalstatus of statusMaritals" [value]="maritalstatus.value">
              {{ maritalstatus.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-radio-group aria-label="Gênero">
          <label id="example-radio-group-label">Gênero</label>
          <br />
          <mat-radio-button value="1">Masculino</mat-radio-button>
          <mat-radio-button value="2" style="margin-left: 15px;">Feminino</mat-radio-button>
        </mat-radio-group>
        </mat-card>

        <mat-card class="mat-elevation-z6" style="margin-top: 20px;">
        <mat-toolbar color="primary" style="margin-top: 15px;">
            <span>Cadastro de congregação</span>
        </mat-toolbar>
        <mat-expansion-panel >
          <mat-expansion-panel-header >
          </mat-expansion-panel-header>
          <mat-form-field appearance="outline">
            <mat-label>Congregação</mat-label>
            <mat-select formControlName="church">
              <mat-option *ngFor="let church of churchs" [value]="church.value">
                {{ church.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="type">
              <mat-option *ngFor="let type of types" [value]="type.value">
                {{ type.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Cargo</mat-label>
            <mat-select name="office">
              <mat-option *ngFor="let office of offices" [value]="office.value">
                {{ office.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="col" style="width: 100%;">
          <mat-form-field appearance="outline" style="width: 50%;">
            <mat-label>Data de Nascimento</mat-label>
            <input type="date" matInput formControlName="dateBirth"/>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 48.7%; margin-left: 15px;">
            <mat-label>Data de Conversão</mat-label>
            <input type="date" matInput />
          </mat-form-field>
          </div>
          <div class="col" style="width: 100%;">
          <mat-form-field appearance="outline" style="width: 50%;">
            <mat-label>Data de Batismo</mat-label>
            <input type="date" matInput>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 48.7%; margin-left: 15px;">
            <mat-label>Data de Batismo com Espírito Santo</mat-label>
            <input type="date" matInput>
          </mat-form-field>
          </div>
          <div class="form-group">
            <label for="observacao">Observação</label>
            <textarea
              class="form-control"
              rows="3"
              name="observacao"
              id="observacao"
            ></textarea>
          </div>
        </mat-expansion-panel>
        </mat-card>

        <input type="submit" class="btn btn-primary mt-4" value="Salvar" />
        <a href="#" class="btn btn-secondary mt-4 ml-2">Cancelar</a>
      </mat-step>

      <mat-step label="CEP">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>CEP</mat-label>
            <input
              matInput
              placeholder="Digite seu CEP"
              formControlName="cep"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Rua</mat-label>
            <input
              matInput
              placeholder="Digite sua Rua"
              formControlName="logradouro"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Número</mat-label>
            <input
              type="number"
              matInput
              placeholder="Digite sua Número"
              class="number-road"
              formControlName="numberRoad"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Complemento</mat-label>
            <input
              type="number"
              matInput
              placeholder="Complemento"
              class="number-complement"
              formControlName="complementObservation"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Bairro</mat-label>
            <input
              matInput
              placeholder="Digite seu Bairro"
              formControlName="bairro"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Localidade</mat-label>
            <input
              matInput
              placeholder="Digite sua Localidade"
              formControlName="localidade"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>UF</mat-label>
            <input
              matInput
              placeholder="Digite sua UF"
              formControlName="uf"
              required
            />
          </mat-form-field>
        </div>
      </mat-step>
    </form>
    <mat-step>
      <ng-template matStepLabel>Finalizando</ng-template>
      <p>Agora estamos finalizando!</p>
      <div>
        <button mat-raised-button matStepperPrevious>Voltar</button>
        <button mat-raised-button color="primary">Concluir</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
